/.vscode
/.vs
/build*
/figures
/out
/results
/tmp
/venv
/video
/*.json
*.msgpack
*.training
*.out
__pycache__
.DS_Store
imgui.ini
output
teaser_scripts/

*.ply
*.obj
*.pkl

scripts.sh
CMakeFiles

*.pkl
*.ply
data/*.obj
data/test_smpl.json
data/dtu_ngp
*.sh
*.log

core.*
.nfs*
9qMvoD
mA6vX7
McQ2lW

*.png
